name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install and Build Web
        run: |
          npm install --legacy-peer-deps
          npm run build

      - name: Generate and Build Android
        run: |
          npx cap add android || echo "Already exists"
          npx cap sync
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: PhyArch-Final-Build
          path: android/app/build/outputs/apk/debug/app-debug.apk
